<div id="<%= dom_id order_detail %>">
  <p>
    <strong>Order:</strong>
    <%= order_detail.order_id %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= order_detail.item_name %>
  </p>

  <p>
    <strong>Item price:</strong>
    <%= order_detail.item_price %>
  </p>

  <p>
    <strong>Item quantity:</strong>
    <%= order_detail.item_quantity %>
  </p>

</div>
